html, body, #react-container,  #react-content { 
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#react-content {
  background-color: rbg(241,241,241);
  display: flex;
  flex-flow: column nowrap;
}

header, footer {
  flex: 0 1 auto;
  width: 100%;
  text-align: center;
}
 
header { 
  color: rgb(249,205,27);
  font-size: 3em;
  font-family: "Indie Flower", cursive;
}

footer {
  font-size: 0.8em;
}

#fishtank {
  flex: 2 1 auto;
  position: relative;
}

canvas, #water {
  position: absolute;
  left: 3;
  right: 3; 
  top: 3;
  bottom: 3;
  border-style: solid;
  border-width: 3px; /* must be in px for javascript in entry.js */
}

canvas {
  border-radius: 50px;
  border-color: black;
  z-index: 1;
  opacity: 0.5;
  animation-duration: 2s;
  animation-name: test;    
  animation-fill-mode: forwards;
 }


@keyframes test {
  0% {
    background-color: white;
  }
  99% {
    background-color: white;
  }
  100% {
    background-color: lightblue;
  }
}

#water {
  animation-duration: 2s;
  animation-name: fillTank;
  animation-fill-mode: forwards;
  border-style: none;
  background-color: lightblue;
  z-index: 0;
}


@keyframes fillTank {
  0% {
    top: 95%;
    border-radius: 0px 0px 50px 50px;
  }
  60% {
    border-radius: 0px 0px 50px 50px;
  }
  99% {
    opacity: 1
  }
  100% {
    opacity: 0;
    top: 3; 
    border-radius: 50px;
  }
}

#menu {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-color: rgb(249,205,27);
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-size: 2em;
  animation-name: fadeInMenu, alternatingMenu;
  animation-duration: 1s, 3s;
  animation-direction: alternate;
  animation-iteration-count: 1, infinite;
  animation-timing-function: linear;
}

#menu ul {
  list-style: none;
}

#menu ul li {
  cursor: default;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes fadeInMenu {
  from {
    opacity: 0;      
  }
  to {
    opacity: 1.0;
  }
}

@keyframes alternatingMenu {
  0% {
    color: white;              
  }
  100% {
    color: rgb(249,205,27);
  }
}

#console {
  display: none;
  flex: 1 1 0;    
  position: relative;
  margin: 10px;
  overflow: auto;
  background-color: black;
  font-family: monospace;
  color: white;
}

[contenteditable="true"]:active, [contenteditable="true"]:focus {
  border:none;
  outline:none;
}

@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: local('Indie Flower'),
       local('IndieFlower'),
       url(./Indie-Flower.woff2) 
       format('woff2');
}

