@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

html, body, #react-container,  #react-content { 
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#react-content {
  background-color: rbg(241,241,241);
  display: flex;
  flex-flow: column nowrap;
}

header, footer {
  flex: 0 1 auto;
  width: 100%;
  text-align: center;
}
 
header { 
  color: rgb(249,205,27);
  font-size: 3em;
  font-family: "Indie Flower", cursive;
}

footer {
  font-size: 0.8em;
}

#fishtank {
  flex: 2 1 auto;
  position: relative;
}

.tankContents, .tankBorder {
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
}

.tankContents {
  opacity: 0.5;
  z-index: 1;
}

.tankBorder {
  border-style: solid;
  border-width: 3px; /* must be in px for javascript in entry.js */
  border-radius: 50px;
  border-color: black;

}

.fillingTank {
  animation-duration: 2s;
  animation-name: fillTank;
  animation-fill-mode: forwards;
  border-style: none;
  background-color: lightblue;
  z-index: 0;
}

@keyframes fillTank {
  0% {
    top: 95%;
    border-radius: 0px 0px 50px 50px;
  }
  60% {
    border-radius: 0px 0px 50px 50px;
  }
  100% {
    top: 3; 
    border-radius: 50px;
  }
}

.filledTank {
  background-color: lightblue;
}

#menu {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-color: rgb(249,205,27);
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-size: 2em;
  animation-name: fadeInMenu, alternatingMenu;
  animation-duration: 1s, 3s;
  animation-direction: alternate;
  animation-iteration-count: 1, infinite;
  animation-timing-function: linear;
}

#menu ul {
  list-style: none;
}

#menu ul li {
  cursor: default;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes fadeInMenu {
  from {
    opacity: 0;      
  }
  to {
    opacity: 1.0;
  }
}

@keyframes alternatingMenu {
  0% {
    color: white;              
  }
  100% {
    color: rgb(249,205,27);
  }
}

#console {
  flex: 0 0 10em;  
  position: relative;
  margin: 10px;
  overflow: auto;
  background-color: black;
  font-family: monospace;
  color: white;
}

[contenteditable="true"]:active, [contenteditable="true"]:focus {
  border:none;
  outline:none;
}
