<!DOCTYPE html>
<html>
   <head>
     <meta charset='UTF-8'>
   </head>
   <body>
     <div id='react-container'>
       <div id='react-content'>
         <header>impossible fish loading</header>
         <div id='fishtank'>
           <div class='tankBorder'></div>
           <div class='tankContents fillingTank'></div> 
         </div>
         <footer>Copyright &copy; 2016, Incremental Ltd.</footer>
       </div>
     </div>
     <noscript>Sorry, your browser does not support fish tanks!</noscript>
   </body>
</html>
