html, body { 
 height: 100%;
 min-height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 text-align: center;
}

body {
 background-color: rbg(241,241,241);
 display: flex;
 flex-flow: column nowrap;
}


header { 
 color: rgb(249,205,27);
 flex: 0 1 auto;
 font-family: "Indie Flower", cursive;
 font-style: normal;
 font-size: 3em;
}

#fishtank {
 flex: 1 1 auto;
 text-align: center;
 position: relative;
}

canvas, #water {
 position: absolute;
 left: 3; right: 3; 
 border-radius: 50px;
 border-style: solid;
 border-width: 3px; /* must be in px for javascript in entry.js */
}

canvas {
 top: 3;
 bottom: 3;
 border-color: black;
 z-index: 1;
}

#water {
 animation-duration: 2s;
 animation-name: fillTank;
 bottom: 0;
 top: 3;
 border-color: lightblue;
 background-color: lightblue;
 z-index: 0;
}

@keyframes fillTank {
 from {
  top: 95%;
 }
 to {
  top: 3; 
 }
}

footer {
 flex: 0 1 auto;    
 width: 100%;
}

@font-face {
 font-family: 'Indie Flower';
 font-style: normal;
 font-weight: 400;
 src: local('Indie Flower'),
      local('IndieFlower'),
      url(../fonts/Indie-Flower.woff2) 
      format('woff2');
}

