html, body { 
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: rbg(241,241,241);
  display: flex;
  flex-flow: column nowrap;
  font-family: "Indie Flower", cursive;
  font-style: normal;
}

header, footer {
  flex: 0 1 auto;
  width: 100%;
  text-align: center;
}

header { 
  color: rgb(249,205,27);
  font-size: 3em;
}

footer {
  padding-top: 5px;
}

#fishtank {
  flex: 1 1 auto;
  position: relative;
}

#fishtank input {
  display: none;
}

#fishtank input:checked + #menu {
  display: block;
}

canvas, #water {
  position: absolute;
  left: 3; right: 3; 
  border-style: solid;
  border-width: 3px; /* must be in px for javascript in entry.js */
}

canvas {
  top: 3;
  bottom: 3;
  border-radius: 50px;
  border-color: black;
  z-index: 1;
}

#menu {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.5;
  border-color: rgb(249,205,27);
  background: red;   
  text-align: center;
  color: rgb(249,205,27);
  font-size: 2em;
}

#menu ul {
  list-style: none;
}

#water {
  animation-duration: 2s;
  animation-name: fillTank;
  animation-fill-mode: forwards;
  bottom: 0;
  top: 3;
  border-color: lightblue;
  background-color: lightblue;
  z-index: 0;
}

@keyframes fillTank {
  0% {
    top: 95%;
    border-radius: 0px 0px 50px 50px;
  }
  60% {
    border-radius: 0px 0px 50px 50px;
  }
  100% {
    top: 3; 
    border-radius: 50px;
  }
}

@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: local('Indie Flower'),
       local('IndieFlower'),
       url(../fonts/Indie-Flower.woff2) 
       format('woff2');
}

